MAIL_USERNAME=pevecandraz@gmail.com
MAIL_PASSWORD=cbthxglpwsxwzzbw
MAIL_TO=pevecandraz@gmail.com
OPENAI_API_KEY=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
ADMIN_USERNAME=admin
ADMIN_PASSWORD=adminljubljana230428
